name: Binance Leverage tiers update

on:
  schedule:
    - cron: "0 3 * * 4"
  # on demand
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  auto-update:
    name: "Auto Update Binance Leverage Tiers"
    runs-on: ubuntu-latest
    environment:
      name: develop
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: "3.12"

    - name: Install ccxt
      run: pip install ccxt

    - name: Run leverage tier update
      env:
        CI_WEB_PROXY: ${{ secrets.CI_WEB_PROXY }}
        FREQTRADE__EXCHANGE__KEY: ${{ secrets.BINANCE_EXCHANGE_KEY }}
        FREQTRADE__EXCHANGE__SECRET: ${{ secrets.BINANCE_EXCHANGE_SECRET }}
      run: python build_helpers/binance_update_lev_tiers.py


    - uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
      with:
        token: ${{ secrets.REPO_SCOPED_TOKEN }}
        add-paths: freqtrade/exchange/binance_leverage_tiers.json
        labels: |
          Tech maintenance
          Dependencies
        branch: update/binance-leverage-tiers
        title: Update Binance Leverage Tiers
        commit-message: "chore: update pre-commit hooks"
        committer: Freqtrade Bot <154552126+freqtrade-bot@users.noreply.github.com>
        author: Freqtrade Bot <154552126+freqtrade-bot@users.noreply.github.com>
        body: Update binance leverage tiers.
        delete-branch: true
