name: Pre-commit auto-update

on:
  schedule:
    - cron: "0 3 * * 2"
  # on demand
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  auto-update:
    name: Auto-update pre-commit hooks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: "3.12"


    - name: Install pre-commit
      run: pip install pre-commit

    - name: Run auto-update
      run: pre-commit autoupdate

    - uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
      with:
        token: ${{ secrets.REPO_SCOPED_TOKEN }}
        add-paths: .pre-commit-config.yaml
        labels: |
          Tech maintenance
          Dependencies
        branch: update/pre-commit-hooks
        title: Update pre-commit hooks
        commit-message: "chore: update pre-commit hooks"
        committer: Freqtrade Bot <154552126+freqtrade-bot@users.noreply.github.com>
        author: Freqtrade Bot <154552126+freqtrade-bot@users.noreply.github.com>
        body: Update versions of pre-commit hooks to latest version.
        delete-branch: true
